## Config

In [89]:
from pyspark.sql import SparkSession
import pandas as pd
import findspark

# Init a spark session first
findspark.init()
spark = SparkSession.builder \
    .appName("sony_test") \
    .getOrCreate()

# Point to path + read csv + create temp table + cache
people_file_path = "People.csv"  # Update this with your CSV file path
batting_file_path = "Batting.csv"  # Update this with your CSV file path

people_df = spark.read.csv(people_file_path, header=True, inferSchema=True)
batting_df = spark.read.csv(batting_file_path, header=True, inferSchema=True)

people_df.createOrReplaceTempView('people_table')
batting_df.createOrReplaceTempView('batting_table')


spark.sql(f'cache table people_table')
spark.sql(f'cache table batting_table')

DataFrame[]

## Discovery

- Initial questions:
    - Are there any nulls in playerID,yearID,stint,teamID,lgID?
        - answer: no
    - Are there any duplicates?
        - answer: no
    - Does a player have more than 1 row if they swap teams mid season
        - answer: yes
        - Perform group by + aggs to get year total for each player

### Null Check

Checking data types and looking for nulls/errored data.

In [90]:
spark.sql("DESCRIBE TABLE batting_table").show()

print('-------------------')
print('Null Check')

spark.sql("""
  select * 
  from batting_table 
  where yearID is null 
    or playerID is null
    or stint is null
    or teamID is null
    or lgID is null""").show(10)

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|playerID|   string|   NULL|
|  yearID|      int|   NULL|
|   stint|      int|   NULL|
|  teamID|   string|   NULL|
|    lgID|   string|   NULL|
|       G|      int|   NULL|
|      AB|      int|   NULL|
|       R|      int|   NULL|
|       H|      int|   NULL|
|      2B|      int|   NULL|
|      3B|      int|   NULL|
|      HR|      int|   NULL|
|     RBI|      int|   NULL|
|      SB|      int|   NULL|
|      CS|      int|   NULL|
|      BB|      int|   NULL|
|      SO|      int|   NULL|
|     IBB|      int|   NULL|
|     HBP|      int|   NULL|
|      SH|      int|   NULL|
+--------+---------+-------+
only showing top 20 rows

-------------------
Null Check
+--------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+
|playerID|yearID|stint|teamID|lgID|  G| AB|  R|  H| 2B| 3B| HR|RBI| SB| CS| BB| SO|IBB|HBP| SH| SF|GIDP|
+--------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+
+--------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+

In [91]:
# Queries to check for faulty data (e.g. '000000000', ' ' ,etc.)
spark.sql("""
  select 
        lgID
        ,count(*) as lg_count 
  from batting_table 
  group by lgID""").show(10)

spark.sql("""
  select 
        teamID
        ,count(*) as team_count 
  from batting_table 
  group by teamID
  order by teamID asc""").show(10)

+----+--------+
|lgID|lg_count|
+----+--------+
|  UA|     334|
|  NL|   55945|
|  PL|     149|
|  AA|    1893|
|  NA|     737|
|  AL|   50965|
|  FL|     472|
+----+--------+

+------+----------+
|teamID|team_count|
+------+----------+
|   ALT|        18|
|   ANA|       337|
|   ARI|      1128|
|   ATL|      2372|
|   BAL|      2836|
|   BFN|       122|
|   BFP|        26|
|   BL1|        48|
|   BL2|       197|
|   BL3|        36|
+------+----------+
only showing top 10 rows

### Duplicate Check

Using two methods:
1. group by, count, and filter
2. Use distinct

In [92]:
# One way of checking for duplicates
spark.sql("""
select 
    playerID,
    yearID,
    stint,
    teamID,
    lgID,
    count(*) 
from batting_table 
group by playerID,yearID,stint,teamID,lgID 
having count(*) > 1
    """).show(10)

# Get count of table
spark.sql("""
select 
    count(*) 
from batting_table 
    """).show(10)

# Using distinct to be 100% sure
spark.sql("""
select 
    count(distinct yearID, playerID, stint, teamID, lgID)
from batting_table 
    """).show(10)

+--------+------+-----+------+----+--------+
|playerID|yearID|stint|teamID|lgID|count(1)|
+--------+------+-----+------+----+--------+
+--------+------+-----+------+----+--------+

+--------+
|count(1)|
+--------+
|  110495|
+--------+

+-----------------------------------------------------+
|count(DISTINCT yearID, playerID, stint, teamID, lgID)|
+-----------------------------------------------------+
|                                               110495|
+-----------------------------------------------------+

### Multiple Rows For A Single Player In The Same Year
Since there are multiple entries we need to check to see if duplicates exist. If we group by playerID,yearID,stint,teamID and lgID, that should show any issues.
- Multiple rows do exist for the same player on the same year
- stint increases as player hop between teams (always +1)

In [93]:
# Query to check for multiple counts for a single player in a single year
spark.sql("""
with base as (
    select 
        yearId
        ,playerID
        ,count(*) as player_count
    from batting_table
    group by 
          yearId
          ,playerId
)
select *
from base 
where player_count > 1
order by player_count desc
""").show(10)


# Checking specific player for a specific year
spark.sql("""
    select *
    from batting_table
    where yearID = 1892
        and playerID = 'dowseto01'
""").show(10)

+------+---------+------------+
|yearId| playerID|player_count|
+------+---------+------------+
|  1892|dowseto01|           5|
|  1914|chouife01|           5|
|  1904|huelsfr01|           5|
|  2018|drakeol01|           5|
|  1910|donahpa01|           4|
|  1892|kuehnbi01|           4|
|  1915|wistete01|           4|
|  1902|ohageha01|           4|
|  1971|fernafr01|           4|
|  1884|striege01|           4|
+------+---------+------------+
only showing top 10 rows

+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+----+---+---+----+---+----+----+----+
| playerID|yearID|stint|teamID|lgID|  G| AB|  R|  H| 2B| 3B| HR|RBI| SB|  CS| BB| SO| IBB|HBP|  SH|  SF|GIDP|
+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+----+---+---+----+---+----+----+----+
|dowseto01|  1892|    1|   LS3|  NL| 41|145| 10| 21|  2|  0|  0|  7|  1|NULL|  2| 15|NULL|  3|NULL|NULL|NULL|
|dowseto01|  1892|    2|   WAS|  NL|  1|  4|  0|  1|  0|  0|  0|  0|  0|NULL|  0|  0|NULL|  0|NULL|NULL|NULL|
|dowseto01|  1892|    3|   CIN|  NL|  1|  4|  0|  0|  0|  0|  0|  0|  0|NULL|  0|  0|NULL|  0|NULL|NULL|NULL|
|dowseto01|  1892|    4|   PHI|  NL| 16| 54|  3| 10|  0|  0|  0|  6|  1|NULL|  2|  4|NULL|  1|NULL|NULL|NULL|
|dowseto01|  1892|    5|   WAS|  NL|  6| 23|  5|  6|  1|  0|  0|  2|  0|NULL|  0|  3|NULL|  0|NULL|NULL|NULL|
+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+----+---+---+----+---+----+----+----+

## Questions 1:
**For each year, give the number of MLB players who had a batting average over .300. Only consider players with more than 50 at bats.**

- Notes:
    - With multi rows in mind: group by year, player -> then sum hits + ab -> calc batting average
    - **Rounding to 3 decimals casues the # of players with >.300 avg to change**

In [94]:
# Creating and caching temp table for batting avg for ALL players (table will be used later)
spark.sql(f"""
with base as (
    select 
        yearID
        ,playerID
        ,sum(H) as H
        ,sum(AB) as AB
    from batting_table          
    group by 
          yearID
          ,playerID
)             
select 
    *
    ,round((H / AB),3) as batting_average
from base  
""").createOrReplaceTempView('temp_ba_table')

spark.sql("""cache table temp_ba_table""").collect()


# Testing Logic for group by and aggs
spark.sql("""
select * from temp_ba_table where yearID = 1890 and playerID = 'mcmahsa01'
""").show()

spark.sql("""
select * from batting_table where yearID = 1890 and playerID = 'mcmahsa01'
""").show()

+------+---------+---+---+---------------+
|yearID| playerID|  H| AB|batting_average|
+------+---------+---+---+---------------+
|  1890|mcmahsa01| 44|214|          0.206|
+------+---------+---+---+---------------+

+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+----+---+----+----+---+----+----+----+
| playerID|yearID|stint|teamID|lgID|  G| AB|  R|  H| 2B| 3B| HR|RBI| SB|  CS| BB|  SO| IBB|HBP|  SH|  SF|GIDP|
+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+----+---+----+----+---+----+----+----+
|mcmahsa01|  1890|    1|   PH4|  AA| 49|175| 27| 40|  5|  1|  2| 19|  2|NULL|  7|NULL|NULL|  2|NULL|NULL|NULL|
|mcmahsa01|  1890|    2|   BL3|  AA| 12| 39|  4|  4|  0|  0|  0|  1|  2|NULL|  1|NULL|NULL|  0|NULL|NULL|NULL|
+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+----+---+----+----+---+----+----+----+

In [95]:
spark.sql(f"""
with ba_filter as (
        select *
        from temp_ba_table
        where batting_average > .300
                and AB > 50  
),
player_count_by_year as (
        select 
          yearID
          ,count(*) as ba_over_300
        from ba_filter
        group by yearID
        order by yearID desc
)
select * 
from player_count_by_year 
order by yearID desc
""").show(10)

+------+-----------+
|yearID|ba_over_300|
+------+-----------+
|  2021|         24|
|  2020|         40|
|  2019|         35|
|  2018|         26|
|  2017|         38|
|  2016|         37|
|  2015|         36|
|  2014|         35|
|  2013|         38|
|  2012|         46|
+------+-----------+
only showing top 10 rows

## Question 2
For each year since 1930, give the MLB player with the most home runs from each league. Please include their league, team, and batting average.
- Considerations
    - If the player played on more than 1 team in a season, give the team information for the last team he played for
        - For example, if a player gets traded from the National League to the American league, his home run total would be considered in the American League.
    - If there is a tie, include the player with the higher number of RBI’s
    - If there is still a tie, pick the player with the lower playerID

- Notes:
    - Look out for:
        1. multiple entries
            - rbis
            - hrs
            - stints 
            - batting averages (already have cached table for that)    
        2. Tie scenario give to rbi leader 
            - possilby player with the lower string value
                - solution: order by rbi desc, playerId asc

In [123]:
spark.sql(f"""
--get player stats for each year
with player_year_stats as (
    select 
        yearID
        ,playerID
        ,sum(HR) as total_hrs
        ,sum(RBI) as total_rbis
        ,max(stint) as max_stint --used to check that window func is accurate
    from batting_table
    where yearID >= 1930  
    group by 
        yearID
        ,playerID        
),   
--get the last team/stint for each year/player 
latest_team as (
    select 
        yearID 
        ,playerID
        ,lgID
        ,teamID
        ,stint
        ,dense_rank() OVER (PARTITION BY yearID, playerID ORDER BY stint desc) as stint_rank
    from batting_table
    where yearID >= 1930                       
),
--filter down result from table above to only include latest data
filtered_latest_team AS (
    select
        playerID
        ,yearID
        ,lgID
        ,teamID
        ,stint
    FROM latest_team
    WHERE stint_rank = 1
),
--join first cte with filtered data and batting averages table
join_stats_team as (
    select 
        a.yearID
        ,b.lgID
        ,a.playerId
        ,a.total_hrs
        ,a.total_rbis
        ,c.batting_average
        ,b.teamID
        ,a.max_stint
        ,b.stint
    from player_year_stats a 
    join filtered_latest_team b
        on  a.yearID = b.yearID
        and a.playerID = b.playerID       
    join temp_ba_table c
        on a.yearId = c.yearID
        and a.playerID = c.playerID
),
--for each year & league, rank hr amount -> if tie then rank by rbi or playerid
year_league_rank as (
    select
        yearID
        ,lgID
        ,teamID
        ,playerID
        ,total_hrs
        ,total_rbis
        ,batting_average
        ,stint
        ,dense_rank() over (partition by yearID, lgId order by total_hrs desc, total_rbis desc, playerID asc) as hr_rank
    from join_stats_team           
),
--filter only top player
filter_top_hr as(
    select *
    from year_league_rank
    where hr_rank = 1     
),
--join people_table to get playername
player_name_join as (
    select 
        a.*
        ,concat(b.nameFirst, ' ', b.nameLast) as playername
    from  filter_top_hr a
    join people_table b        
        on a.playerId = b.playerId
)          
          
select 
    yearID
    ,lgID
    ,playername
    ,total_hrs
    ,batting_average
    ,playerID
    ,teamID
from player_name_join
""").show(1000)

+------+----+-----------------+---------+---------------+---------+------+
|yearID|lgID|       playername|total_hrs|batting_average| playerID|teamID|
+------+----+-----------------+---------+---------------+---------+------+
|  1930|  AL|        Babe Ruth|       49|          0.359| ruthba01|   NYA|
|  1930|  NL|      Hack Wilson|       56|          0.356|wilsoha01|   CHN|
|  1931|  AL|       Lou Gehrig|       46|          0.341|gehrilo01|   NYA|
|  1931|  NL|      Chuck Klein|       31|          0.337|kleinch01|   PHI|
|  1932|  AL|      Jimmie Foxx|       58|          0.364| foxxji01|   PHA|
|  1932|  NL|      Chuck Klein|       38|          0.348|kleinch01|   PHI|
|  1933|  AL|      Jimmie Foxx|       48|          0.356| foxxji01|   PHA|
|  1933|  NL|      Chuck Klein|       28|          0.368|kleinch01|   PHI|
|  1934|  AL|       Lou Gehrig|       49|          0.363|gehrilo01|   NYA|
|  1934|  NL|          Mel Ott|       35|          0.326|  ottme01|   NY1|
|  1935|  AL|   Hank Greenberg|       36|          0.328|greenha01|   DET|
|  1935|  NL|     Wally Berger|       34|          0.295|bergewa01|   BSN|
|  1936|  AL|       Lou Gehrig|       49|          0.354|gehrilo01|   NYA|
|  1936|  NL|          Mel Ott|       33|          0.328|  ottme01|   NY1|
|  1937|  AL|     Joe DiMaggio|       46|          0.346|dimagjo01|   NYA|
|  1937|  NL|      Joe Medwick|       31|          0.374|medwijo01|   SLN|
|  1938|  AL|   Hank Greenberg|       58|          0.315|greenha01|   DET|
|  1938|  NL|          Mel Ott|       36|          0.311|  ottme01|   NY1|
|  1939|  AL|      Jimmie Foxx|       35|           0.36| foxxji01|   BOS|
|  1939|  NL|      Johnny Mize|       28|          0.349| mizejo01|   SLN|
|  1940|  AL|   Hank Greenberg|       41|           0.34|greenha01|   DET|
|  1940|  NL|      Johnny Mize|       43|          0.314| mizejo01|   SLN|
|  1941|  AL|     Ted Williams|       37|          0.406|willite01|   BOS|
|  1941|  NL|    Dolph Camilli|       34|          0.285|camildo01|   BRO|
|  1942|  AL|     Ted Williams|       36|          0.356|willite01|   BOS|
|  1942|  NL|          Mel Ott|       30|          0.295|  ottme01|   NY1|
|  1943|  AL|        Rudy York|       34|          0.271| yorkru01|   DET|
|  1943|  NL|   Bill Nicholson|       29|          0.309|nichobi01|   CHN|
|  1944|  AL|       Nick Etten|       22|          0.293|ettenni01|   NYA|
|  1944|  NL|   Bill Nicholson|       33|          0.287|nichobi01|   CHN|
|  1945|  AL|    Vern Stephens|       24|          0.289|stephve01|   SLA|
|  1945|  NL|     Tommy Holmes|       28|          0.352|holmeto01|   BSN|
|  1946|  AL|   Hank Greenberg|       44|          0.277|greenha01|   DET|
|  1946|  NL|      Ralph Kiner|       23|          0.247|kinerra01|   PIT|
|  1947|  AL|     Ted Williams|       32|          0.343|willite01|   BOS|
|  1947|  NL|      Johnny Mize|       51|          0.302| mizejo01|   NY1|
|  1948|  AL|     Joe DiMaggio|       39|           0.32|dimagjo01|   NYA|
|  1948|  NL|      Johnny Mize|       40|          0.289| mizejo01|   NY1|
|  1949|  AL|     Ted Williams|       43|          0.343|willite01|   BOS|
|  1949|  NL|      Ralph Kiner|       54|           0.31|kinerra01|   PIT|
|  1950|  AL|         Al Rosen|       37|          0.287|rosenal01|   CLE|
|  1950|  NL|      Ralph Kiner|       47|          0.272|kinerra01|   PIT|
|  1951|  AL|      Gus Zernial|       33|          0.268|zernigu01|   PHA|
|  1951|  NL|      Ralph Kiner|       42|          0.309|kinerra01|   PIT|
|  1952|  AL|       Larry Doby|       32|          0.276| dobyla01|   CLE|
|  1952|  NL|       Hank Sauer|       37|           0.27|sauerha01|   CHN|
|  1953|  AL|         Al Rosen|       43|          0.336|rosenal01|   CLE|
|  1953|  NL|    Eddie Mathews|       47|          0.302|matheed01|   ML1|
|  1954|  AL|       Larry Doby|       32|          0.272| dobyla01|   CLE|
|  1954|  NL|   Ted Kluszewski|       49|          0.326|kluszte01|   CIN|
|  1955|  AL|    Mickey Mantle|       37|          0.306|mantlmi01|   NYA|
|  1955|  NL|      Willie Mays|       51|          0.319| mayswi01|   NY1|
|  1956|  AL|    Mickey Mantle|       52|          0.353|mantlmi01|   NYA|
|  1956|  NL|      Duke Snider|       43|          0.292|snidedu01|   BRO|
|  1957|  AL|      Roy Sievers|       42|          0.301|sievero01|   WS1|
|  1957|  NL|       Hank Aaron|       44|          0.322|aaronha01|   ML1|
|  1958|  AL|    Mickey Mantle|       42|          0.304|mantlmi01|   NYA|
|  1958|  NL|      Ernie Banks|       47|          0.313|bankser01|   CHN|
|  1959|  AL|   Rocky Colavito|       42|          0.257|colavro01|   CLE|
|  1959|  NL|    Eddie Mathews|       46|          0.306|matheed01|   ML1|
|  1960|  AL|    Mickey Mantle|       40|          0.275|mantlmi01|   NYA|
|  1960|  NL|      Ernie Banks|       41|          0.271|bankser01|   CHN|
|  1961|  AL|      Roger Maris|       61|          0.269|marisro01|   NYA|
|  1961|  NL|   Orlando Cepeda|       46|          0.311|cepedor01|   SFN|
|  1962|  AL| Harmon Killebrew|       48|          0.243|killeha01|   MIN|
|  1962|  NL|      Willie Mays|       49|          0.304| mayswi01|   SFN|
|  1963|  AL| Harmon Killebrew|       45|          0.258|killeha01|   MIN|
|  1963|  NL|       Hank Aaron|       44|          0.319|aaronha01|   ML1|
|  1964|  AL| Harmon Killebrew|       49|           0.27|killeha01|   MIN|
|  1964|  NL|      Willie Mays|       47|          0.296| mayswi01|   SFN|
|  1965|  AL|  Tony Conigliaro|       32|          0.269|conigto01|   BOS|
|  1965|  NL|      Willie Mays|       52|          0.317| mayswi01|   SFN|
|  1966|  AL|   Frank Robinson|       49|          0.316|robinfr02|   BAL|
|  1966|  NL|       Hank Aaron|       44|          0.279|aaronha01|   ATL|
|  1967|  AL| Carl Yastrzemski|       44|          0.326|yastrca01|   BOS|
|  1967|  NL|       Hank Aaron|       39|          0.307|aaronha01|   ATL|
|  1968|  AL|     Frank Howard|       44|          0.274|howarfr01|   WS2|
|  1968|  NL|   Willie McCovey|       36|          0.293|mccovwi01|   SFN|
|  1969|  AL| Harmon Killebrew|       49|          0.276|killeha01|   MIN|
|  1969|  NL|   Willie McCovey|       45|           0.32|mccovwi01|   SFN|
|  1970|  AL|     Frank Howard|       44|          0.283|howarfr01|   WS2|
|  1970|  NL|     Johnny Bench|       45|          0.293|benchjo01|   CIN|
|  1971|  AL|      Bill Melton|       33|          0.269|meltobi01|   CHA|
|  1971|  NL|  Willie Stargell|       48|          0.295|stargwi01|   PIT|
|  1972|  AL|       Dick Allen|       37|          0.308|allendi01|   CHA|
|  1972|  NL|     Johnny Bench|       40|           0.27|benchjo01|   CIN|
|  1973|  AL|   Reggie Jackson|       32|          0.293|jacksre01|   OAK|
|  1973|  NL|  Willie Stargell|       44|          0.299|stargwi01|   PIT|
|  1974|  AL|       Dick Allen|       32|          0.301|allendi01|   CHA|
|  1974|  NL|     Mike Schmidt|       36|          0.282|schmimi01|   PHI|
|  1975|  AL|     George Scott|       36|          0.285|scottge02|   ML4|
|  1975|  NL|     Mike Schmidt|       38|          0.249|schmimi01|   PHI|
|  1976|  AL|    Graig Nettles|       32|          0.254|nettlgr01|   NYA|
|  1976|  NL|     Mike Schmidt|       38|          0.262|schmimi01|   PHI|
|  1977|  AL|         Jim Rice|       39|           0.32| riceji01|   BOS|
|  1977|  NL|    George Foster|       52|           0.32|fostege01|   CIN|
|  1978|  AL|         Jim Rice|       46|          0.315| riceji01|   BOS|
|  1978|  NL|    George Foster|       40|          0.281|fostege01|   CIN|
|  1979|  AL|    Gorman Thomas|       45|          0.244|thomago01|   ML4|
|  1979|  NL|     Dave Kingman|       48|          0.288|kingmda01|   CHN|
|  1980|  AL|      Ben Oglivie|       41|          0.304|oglivbe01|   ML4|
|  1980|  NL|     Mike Schmidt|       48|          0.286|schmimi01|   PHI|
|  1981|  AL|     Eddie Murray|       22|          0.294|murraed02|   BAL|
|  1981|  NL|     Mike Schmidt|       31|          0.316|schmimi01|   PHI|
|  1982|  AL|    Gorman Thomas|       39|          0.245|thomago01|   ML4|
|  1982|  NL|     Dave Kingman|       37|          0.204|kingmda01|   NYN|
|  1983|  AL|         Jim Rice|       39|          0.305| riceji01|   BOS|
|  1983|  NL|     Mike Schmidt|       40|          0.255|schmimi01|   PHI|
|  1984|  AL|       Tony Armas|       43|          0.268|armasto01|   BOS|
|  1984|  NL|     Mike Schmidt|       36|          0.277|schmimi01|   PHI|
|  1985|  AL|    Darrell Evans|       40|          0.248|evansda01|   DET|
|  1985|  NL|      Dale Murphy|       37|            0.3|murphda05|   ATL|
|  1986|  AL|   Jesse Barfield|       40|          0.289|barfije01|   TOR|
|  1986|  NL|     Mike Schmidt|       37|           0.29|schmimi01|   PHI|
|  1987|  AL|     Mark McGwire|       49|          0.289|mcgwima01|   OAK|
|  1987|  NL|     Andre Dawson|       49|          0.287|dawsoan01|   CHN|
|  1988|  AL|     Jose Canseco|       42|          0.307|cansejo01|   OAK|
|  1988|  NL|Darryl Strawberry|       39|          0.269|strawda01|   NYN|
|  1989|  AL|     Fred McGriff|       36|          0.269|mcgrifr01|   TOR|
|  1989|  NL|   Kevin Mitchell|       47|          0.291|mitchke01|   SFN|
|  1990|  AL|    Cecil Fielder|       51|          0.277|fieldce01|   DET|
|  1990|  NL|    Ryne Sandberg|       40|          0.306|sandbry01|   CHN|
|  1991|  AL|    Cecil Fielder|       44|          0.261|fieldce01|   DET|
|  1991|  NL|   Howard Johnson|       38|          0.259|johnsho01|   NYN|
|  1992|  AL|    Juan Gonzalez|       43|           0.26|gonzaju03|   TEX|
|  1992|  NL|     Fred McGriff|       35|          0.286|mcgrifr01|   SDN|
|  1993|  AL|    Juan Gonzalez|       46|           0.31|gonzaju03|   TEX|
|  1993|  NL|      Barry Bonds|       46|          0.336|bondsba01|   SFN|
|  1994|  AL|      Ken Griffey|       40|          0.323|griffke02|   SEA|
|  1994|  NL|    Matt Williams|       43|          0.267|willima04|   SFN|
|  1995|  AL|     Albert Belle|       50|          0.317|belleal01|   CLE|
|  1995|  NL|   Dante Bichette|       40|           0.34|bicheda01|   COL|
|  1996|  AL|     Mark McGwire|       52|          0.312|mcgwima01|   OAK|
|  1996|  NL| Andres Galarraga|       47|          0.304|galaran01|   COL|
|  1997|  AL|      Ken Griffey|       56|          0.304|griffke02|   SEA|
|  1997|  NL|     Mark McGwire|       58|          0.274|mcgwima01|   SLN|
|  1998|  AL|      Ken Griffey|       56|          0.284|griffke02|   SEA|
|  1998|  NL|     Mark McGwire|       70|          0.299|mcgwima01|   SLN|
|  1999|  AL|      Ken Griffey|       48|          0.285|griffke02|   SEA|
|  1999|  NL|     Mark McGwire|       65|          0.278|mcgwima01|   SLN|
|  2000|  AL|       Troy Glaus|       47|          0.284|glaustr01|   ANA|
|  2000|  NL|       Sammy Sosa|       50|           0.32| sosasa01|   CHN|
|  2001|  AL|   Alex Rodriguez|       52|          0.318|rodrial01|   TEX|
|  2001|  NL|      Barry Bonds|       73|          0.328|bondsba01|   SFN|
|  2002|  AL|   Alex Rodriguez|       57|            0.3|rodrial01|   TEX|
|  2002|  NL|       Sammy Sosa|       49|          0.288| sosasa01|   CHN|
|  2003|  AL|   Alex Rodriguez|       47|          0.298|rodrial01|   TEX|
|  2003|  NL|        Jim Thome|       47|          0.266|thomeji01|   PHI|
|  2004|  AL|    Manny Ramirez|       43|          0.308|ramirma02|   BOS|
|  2004|  NL|    Adrian Beltre|       48|          0.334|beltrad01|   LAN|
|  2005|  AL|   Alex Rodriguez|       48|          0.321|rodrial01|   NYA|
|  2005|  NL|     Andruw Jones|       51|          0.263|jonesan01|   ATL|
|  2006|  AL|      David Ortiz|       54|          0.287|ortizda01|   BOS|
|  2006|  NL|      Ryan Howard|       58|          0.313|howarry01|   PHI|
|  2007|  AL|   Alex Rodriguez|       54|          0.314|rodrial01|   NYA|
|  2007|  NL|   Prince Fielder|       50|          0.288|fieldpr01|   MIL|
|  2008|  AL|   Miguel Cabrera|       37|          0.292|cabremi01|   DET|
|  2008|  NL|      Ryan Howard|       48|          0.251|howarry01|   PHI|
|  2009|  AL|    Mark Teixeira|       39|          0.292|teixema01|   NYA|
|  2009|  NL|    Albert Pujols|       47|          0.327|pujolal01|   SLN|
|  2010|  AL|    Jose Bautista|       54|           0.26|bautijo02|   TOR|
|  2010|  NL|    Albert Pujols|       42|          0.312|pujolal01|   SLN|
|  2011|  AL|    Jose Bautista|       43|          0.302|bautijo02|   TOR|
|  2011|  NL|        Matt Kemp|       39|          0.324| kempma01|   LAN|
|  2012|  AL|   Miguel Cabrera|       44|           0.33|cabremi01|   DET|
|  2012|  NL|       Ryan Braun|       41|          0.319|braunry02|   MIL|
|  2013|  AL|      Chris Davis|       53|          0.286|davisch02|   BAL|
|  2013|  NL| Paul Goldschmidt|       36|          0.302|goldspa01|   ARI|
|  2014|  AL|      Nelson Cruz|       40|          0.271| cruzne02|   BAL|
|  2014|  NL|Giancarlo Stanton|       37|          0.288|stantmi03|   MIA|
|  2015|  AL|      Chris Davis|       47|          0.262|davisch02|   BAL|
|  2015|  NL|    Nolan Arenado|       42|          0.287|arenano01|   COL|
|  2016|  AL|      Mark Trumbo|       47|          0.256|trumbma01|   BAL|
|  2016|  NL|    Nolan Arenado|       41|          0.294|arenano01|   COL|
|  2017|  AL|      Aaron Judge|       52|          0.284|judgeaa01|   NYA|
|  2017|  NL|Giancarlo Stanton|       59|          0.281|stantmi03|   MIA|
|  2018|  AL|      Khris Davis|       48|          0.247|daviskh01|   OAK|
|  2018|  NL|    Nolan Arenado|       38|          0.297|arenano01|   COL|
|  2019|  AL|      Jorge Soler|       48|          0.265|solerjo01|   KCA|
|  2019|  NL|      Pete Alonso|       53|           0.26|alonspe01|   NYN|
|  2020|  AL|        Luke Voit|       22|          0.277| voitlu01|   NYA|
|  2020|  NL|    Marcell Ozuna|       18|          0.338|ozunama01|   ATL|
|  2021|  AL|   Salvador Perez|       48|          0.273|perezsa02|   KCA|
|  2021|  NL|   Fernando Tatis|       42|          0.282|tatisfe02|   SDN|
+------+----+-----------------+---------+---------------+---------+------+

### Spot Checking 
Could not find instance where we needed to rank against playerid.
1. Check : mcgwima01 | 1997 
    - Correct HR + RBI sum
    - Correct Stint -> Team -> lgID
    - Correct batting_average
1. Check : zernigu01 | 1951 
    - Correct HR + RBI sum
    - Correct Stint -> Team -> lgID
    - Correct batting_average

In [97]:
spark.sql(f"""select * from batting_table where playerID ='mcgwima01' and yearID = 1997""").show()
spark.sql(f"""select * from temp_ba_table where playerID ='mcgwima01' and yearID = 1997""").show()
spark.sql(f"""select yearID,playerID,sum(HR) as HR from batting_table where yearID = 1997 group by yearID,playerID order by HR desc""").show()

+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+
| playerID|yearID|stint|teamID|lgID|  G| AB|  R|  H| 2B| 3B| HR|RBI| SB| CS| BB| SO|IBB|HBP| SH| SF|GIDP|
+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+
|mcgwima01|  1997|    1|   OAK|  AL|105|366| 48|104| 24|  0| 34| 81|  1|  0| 58| 98|  8|  4|  0|  5|   9|
|mcgwima01|  1997|    2|   SLN|  NL| 51|174| 38| 44|  3|  0| 24| 42|  2|  0| 43| 61|  8|  5|  0|  2|   0|
+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+

+------+---------+---+---+---------------+
|yearID| playerID|  H| AB|batting_average|
+------+---------+---+---+---------------+
|  1997|mcgwima01|148|540|          0.274|
+------+---------+---+---+---------------+

+------+---------+---+
|yearID| playerID| HR|
+------+---------+---+
|  1997|mcgwima01| 58|
|  1997|griffke02| 56|
|  1997|walkela01| 49|
|  1997|martiti02| 44|
|  1997|bagweje01| 43|
|  1997|gonzaju03| 42|
|  1997|galaran01| 41|
|  1997|bondsba01| 40|
|  1997|buhneja01| 40|
|  1997|castivi02| 40|
|  1997|piazzmi01| 40|
|  1997|thomeji01| 40|
|  1997|palmera01| 38|
|  1997| sosasa01| 36|
|  1997|vaughmo01| 35|
|  1997|thomafr04| 35|
|  1997|salmoti01| 33|
|  1997|justida01| 33|
|  1997|burksel01| 32|
|  1997|willima04| 32|
+------+---------+---+
only showing top 20 rows

## Question 3
What teams have had the highest slugging percentage? Your output should give the top 10 historical team slugging percentages, the year it occurred, and the team name.

Formula : ((1B) + (2Bx2) + (3Bx3) + (HRx4))/(AB)

- How do we want to handle ties?
    - Possilbe solutions:
        - Dense_rank()
        - rank()
        - row_number()
        - **limit** (simple since nothing is outlined) 
- No 1B attribute

In [99]:
spark.sql(f"""
    select 
        yearID
        ,teamID
        ,round((((sum(H) - sum(2B) - sum(3B) - sum(HR)) + (sum(2B) * 2) + (sum(3B) * 3) + (sum(HR) * 4)) / ((sum(AB)))),3) as slugging_percentage
    from batting_table
    group by 
        yearID 
        ,teamID
    order by slugging_percentage desc
    limit 10
""").show(20)

+------+------+-------------------+
|yearID|teamID|slugging_percentage|
+------+------+-------------------+
|  2019|   HOU|              0.495|
|  2019|   MIN|              0.494|
|  2003|   BOS|              0.491|
|  2019|   NYA|               0.49|
|  1930|   NYA|              0.488|
|  1927|   NYA|              0.488|
|  1997|   SEA|              0.485|
|  1894|   BSN|              0.484|
|  1996|   SEA|              0.484|
|  1994|   CLE|              0.484|
+------+------+-------------------+

### Testing Logic of formula...

In [100]:
spark.sql(f"""
    select 
        *
    from batting_table
    where yearID = 2016
          and teamID in ('BOS','SEA')
    order by AB desc
    limit 5 
""").createOrReplaceTempView('q3_test')

spark.sql(f"""cache table q3_test""").collect()
spark.sql(f"""select * from q3_test""").show()

+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+
| playerID|yearID|stint|teamID|lgID|  G| AB|  R|  H| 2B| 3B| HR|RBI| SB| CS| BB| SO|IBB|HBP| SH| SF|GIDP|
+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+
|bettsmo01|  2016|    1|   BOS|  AL|158|672|122|214| 42|  5| 31|113| 26|  4| 49| 80|  1|  2|  0|  7|  12|
| canoro01|  2016|    1|   SEA|  AL|161|655|107|195| 33|  2| 39|103|  0|  1| 47|100|  8|  8|  0|  5|  18|
|bogaexa01|  2016|    1|   BOS|  AL|157|652|115|192| 34|  1| 21| 89| 13|  4| 58|123|  0|  6|  0|  3|  14|
|pedrodu01|  2016|    1|   BOS|  AL|154|633|105|201| 36|  1| 15| 74|  7|  4| 61| 73|  0|  0|  1|  3|  24|
|seageky01|  2016|    1|   SEA|  AL|158|597| 89|166| 36|  3| 30| 99|  3|  1| 69|108| 10|  8|  0|  2|  18|
+---------+------+-----+------+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+----+

In [101]:
spark.sql(f"""
    select 
        yearID
        ,teamID
        ,round((((sum(H) - sum(2B) - sum(3B) - sum(HR)) + (sum(2B) * 2) + (sum(3B) * 3) + (sum(HR) * 4)) / ((sum(AB)))),3) as slugging_percentage
    from q3_test
    group by 
        yearID 
        ,teamID
    order by slugging_percentage desc
    limit 10
""").show(20)

+------+------+-------------------+
|yearID|teamID|slugging_percentage|
+------+------+-------------------+
|  2016|   SEA|              0.517|
|  2016|   BOS|              0.477|
+------+------+-------------------+

# Stop Session

In [ ]:
spark.stop()